<h1 class="text-center">Create Product</h1>
<hr class="hr-2 bg-dark" />
<form class="mx-auto half-width" method="post" action="/products/create">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name..." name="name">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" placeholder="Price..." name="price">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Description..." name="description">
    </div>
    <h2 class="text-center text-mishmash">Product Type</h2>
    <hr class="hr-2 bg-dark half-width" />
    <div class="row justify-content-around">
        <div class="col-md-2">
            <input name="type" id="Food" value="Food" type="radio" />
            <label for="Food" class="text-mishmash">Food</label>
        </div>
        <div class="col-md-2">
            <input name="type" id="Domestic" value="Domestic" type="radio" />
            <label for="Domestic" class="text-mishmash">Domestic</label>
        </div>
        <div class="col-md-2">
            <input name="type" id="Health" value="Health" type="radio" />
            <label for="Health" class="text-mishmash">Health</label>
        </div>
        <div class="col-md-2">
            <input name="type" id="Cosmetic" value="Cosmetic" type="radio" />
            <label for="Cosmetic" class="text-mishmash">Cosmetic</label>
        </div>
        <div class="col-md-2">
            <input name="type" id="Other" value="Other" type="radio" />
            <label for="Other" class="text-mishmash">Other</label>
        </div>
    </div>
    <hr class="hr-2 bg-dark half-width" />
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn chushka-bg-color">Create</button>
    </div>
</form>